.erroMessage {
   font-size: 14px;
   margin-top: 15px;
   color: red;
}
.confirmMessage {
   font-size: 14px;
   margin-top: 15px;
   color: green;
}
.MuiModal-root .MuiBackdrop-root {
   opacity: .2 !important;
}
.MuiTableRow-root:hover {
   cursor: pointer;
}
.selectMy {
   font: inherit;
   letter-spacing: inherit;
   color: currentColor;
   padding: 4px 0 5px;
   border: 0;
   box-sizing: content-box;
   background: none;
   height: 1.4375em;
   margin: 0;
   -webkit-tap-highlight-color: transparent;
   display: block;
   min-width: 0;
   width: 100%;
   -webkit-animation-name: mui-auto-fill-cancel;
   animation-name: mui-auto-fill-cancel;
   -webkit-animation-duration: 10ms;
   animation-duration: 10ms;
   padding-top: 1px;
   padding: 8.5px 14px;
   line-height: 1.4375em;
   font-size: 1rem;
   font-family: Public Sans,sans-serif;
   font-weight: 400;
   color: #212B36;
   box-sizing: border-box;
   position: relative;
   cursor: text;
   display: -webkit-inline-box;
   display: -webkit-inline-flex;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 100%;
   position: relative;
   border-radius: 8px;
   border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.tableRowLink a {
   text-decoration: none;
}